<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Notes</title>
    <link rel = "stylesheet" href="/assets/css/style.css">
    <link rel="shortcut icon" href="/assets/img/1.png" type="image/x-icon">
    <style>
       figure {
        width: 27%; /* Ширина */
        float: left; /* Выстраиваем элементы по горизонтали */
        margin: 0 0 0 3.5%; /* Отступ слева */
        border-radius: 5px; /* Радиус скругления */
        padding: 2%; /* Поля */
       }
       figure:first-child {
        margin-left: 0; /* Убираем отступ для первого элемента */
       }
    </style>
</head>

<body>
<div >

    <table class="table11">
        <tbody>
        <tr>
            <td colspan="2">
                <figure>
                    <img align="left" src="/assets/img/1.png" width="50%">
                </figure>
                <figure>
                    <img align="center" src="/assets/img/2.png" width="100%">
                </figure>
                <figure>
                    <img align="right" src="/assets/img/1.png" width="50%">
                </figure>
            </td>
        </tr>
        <tr>
            <td bgcolor="#E0FFFF">Категории</td>
            <td bgcolor="#E0FFFF">Задачи</td>
        </tr>


        <tr>
            <td width="360" >

                <div  class="box" th:each="list: ${lists}">
                    <div class="box" align="left">
                        <a  th:href="@{/list/{id}(id=${list.getId()})}" th:utext="${list.getName()}"></a>

                    </div>
                    <div class="box" >
                    </div>
                    <div class="box" align="right" >
                        <a  th:href="@{/list/{id}/updateList (id=${list.getId()})}">
                            <button  class="button button1"  type="button">Изменить</button>
                        </a>
                    </div>
                    <div class="box" >
                        <form  align="right" action="#" th:action="@{/list/{id}/deleteList (id=${list.getId()})}">
                            <button  class="button button1" type="submit" >Удалить</button>
                        </form>
                    </div>
                </div>
            </td>

            <td >
                <table border="1" width="70%" align="center">
                    <td align="center">
                        <h th:utext="${currentList.getName()}"></h>
                    </td>
                </table>

                <ul   th:each="task: ${tasks}">

                    <li ><p th:href="@{/task/{id}(id=${task.getId()})}" th:utext="${task.getTitle()}"></p></li>
                    <div class="zz"  align="center">
                        <div class="zz" role="alert" th:if="${task.done}">
                            Выполнена!
                        </div>
                        <div class="zz"  role="alert" th:unless="${task.done}">
                            Не выполнена!
                        </div>
                    </div>


                    <div class="box" align="center" >
                        <div class="box">
                            <a th:href="@{/task/{idt}/updateTask (idt=${task.getId()})}">
                            <button class="button button2" type="button" >Изменить</button>
                        </a>
                    </div>
                    <form   action="#" th:action="@{/task/{id}/deleteTask (id=${task.getId()})}">
                        <button type="submit" >Удалить</button>
                    </form>
                    </div >
                </ul>

            </td>
        </tr>

        <tr>
            <td>
                <div align="center">
                    <a  th:href="@{/addList}"><button>Добавить категорию</button></a>
                </div>
            </td>
            <td>
                <div align="center">
                    <a  th:href="@{/addTask/{id}(id=${currentList.getId()})}"><button>Добавить задачу</button></a>
                </div>

            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>







